SEERR_BASE_URL=http://seerr:5055
SEERR_API_KEY=change-me
SEERR_REQUEST_SEASONS=all
ANILIST_CACHE_TTL_SECONDS=21600
SEERR_CACHE_TTL_SECONDS=900
WEEBARR_ADMIN_TOKEN=
WEEBARR_AUTH_MODE=disabled
WEEBARR_AUTH_USERNAME=
WEEBARR_AUTH_PASSWORD=
WEEBARR_SESSION_SECRET=
WEEBARR_PUBLIC_URL=
WEEBARR_API_KEY=
WEEBARR_PLEX_ALLOWED_USERS=
